body{
    background-color: rgb(6, 88, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: auto;
}

header{
  background-color: rgb(1, 21, 47);
  font-family: 'Bricolage Grotesque', sans-serif;
  color:rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 60px;
}

li{
    list-style: none;
    align-self: center;
    float: left;
    margin: 10px 10px 20px 10px;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }

.intro{
    font-family: 'Bricolage Grotesque', sans-serif;
    background-image: url("flat-design-japanese-wave-pattern_23-2149531034.avif");
    height: 400px;
    padding: 10%;
    margin: 0;
    width: 100%;
}
.info{
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    color:rgb(255, 255, 255);
    float: center;
}

.conteudo{
    color:rgb(255, 255, 255);
    width: 700px;

}
.sumario{
  float: right;
  border-right: 3px dashed white;
}

blockquote{
    font-family: 'Bricolage Grotesque', sans-serif;
    float: left;
    text-align: center;
    color:rgb(1, 21, 47);
    text-align:center;
    font-size: 20px;
    background-color:rgb(77, 136, 211);
    padding: 10px;
    
}
.animais{
    color:rgb(246, 246, 255);
    text-align:center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    border-radius: 30%;
    width: 100%;
    height: auto;
}

.sobremim{
    background-color: rgb(77, 136, 211);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 25px;
}

.anim{
    border-radius: 360cm;
    width: 300px;
    height: auto;
}

#sealife{
    width: 250px;
    height: auto;
    float: left;
}

.centralizar{
    
    float: center;
    text-align: center;
    margin: 20px;
}

footer{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color:rgb(1, 21, 47);
    width: 100%;
}

h1{
    font-size: 100px;
    color:rgb(1, 21, 47);
    text-align: center;
}

h2{
    font-size: 30px;
    color:rgb(255, 255, 255);
    border-bottom: 3px dashed white;
}

h3{
    font-size:25px;
    color: rgb(1, 21, 47);
    text-align: center;
    border-top: dashed 4px rgb(255, 255, 255);
}

h4{
    font-size:25px;
    color:rgb(255, 255, 255);
    text-align: center;
    border-bottom: dashed 2px white;
}

p{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

@media all and(max-width:1200px){
    .conteudo,.lista,.extint{
        display: block;
        width: 70%;
        padding: none;
        margin: 8px auto;
        float: none;

}
}